
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

img, video {
    max-width: 100%;
    height: auto;
}

body {
    line-height: 1.5;
    font-family: Arial, sans-serif;
    background-color: #fff;
    color: #000;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px 30px; 
    color: white;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #b20404;
    padding-left: 50px; 
}

.nav-links {
    display: flex;
    gap: 0px;
    padding-right: 50px; 
}

.nav-links a {
    color: white; 
    font-size: 16px;
    padding: 5px 10px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.nav-links a:hover {
    background-color: rgba(178, 4, 4, 0.2); 
    color: #b20404; 
}

.menu-icon {
    display: none;
    font-size: 24px;
    cursor: pointer;
}

@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        background-color: #333;
        position: absolute;
        top: 50px;
        right: 20px;
        width: 200px;
        padding: 10px;
        border-radius: 5px;
    }

    .nav-links.show {
        display: flex;
    }

    .menu-icon {
        display: block;
    }
}

body {
    background: linear-gradient(45deg, #520000, #6e0000, #950000, #d70000, #7f7f7f, #5c5c5c, #2f2f2f, #000000);
    background-size: 400% 400%;
    animation: gradientAnimation 10s ease infinite;
    height: 100vh;
    overflow: hidden;
    font-family: monospace;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}


.button {
    background-color: #b20404;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease, color 0.3s ease;
   
}
.button {
    margin-top: 200px;
    margin-left: 75px;
}
