
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

img, video {
    max-width: 100%;
    height: auto;
}

body {
    line-height: 1.5;
    font-family: Arial, sans-serif;
    background-color: #fff;
    color: #000;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px 30px; 
    color: white;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #b20404;
    padding-left: 50px; 
}

.nav-links {
    display: flex;
    gap: 0px;
    padding-right: 50px; 
}

.nav-links a {
    color: white; 
    font-size: 16px;
    padding: 5px 10px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.nav-links a:hover {
    background-color: rgba(178, 4, 4, 0.2); /* Lichte transparante achtergrond */
    color: #b20404; /* Verander de tekstkleur bij hover */
}

.menu-icon {
    display: none;
    font-size: 24px;
    cursor: pointer;
}

@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        background-color: #333;
        position: absolute;
        top: 50px;
        right: 20px;
        width: 200px;
        padding: 10px;
        border-radius: 5px;
    }

    .nav-links.show {
        display: flex;
    }

    .menu-icon {
        display: block;
    }
}

body {
    background: linear-gradient(45deg, #520000, #6e0000, #950000, #d70000, #7f7f7f, #5c5c5c, #2f2f2f, #000000);
    background-size: 400% 400%;
    animation: gradientAnimation 10s ease infinite;
    height: 100vh;
    overflow: hidden;
    font-family: monospace;
    overflow: hidden;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.game{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.controls{
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}
button{
    background: #282a3a;
    color: #fff;
    border-radius: 5px;
    padding: 10px 20px;
    border: 0;
    cursor: pointer;
    font-size: 18pt;
    font-weight: bold;

}
.disabled{
    color: #757575;
}
.stats{
    color: #fff;
    font-size: 14pt;
    font-weight: bold;

}
.board-container{
   position: relative;
}
.board, .win{
    border-radius: 5px;
    box-shadow: 0 25px 50px rgb(33 33 33 / 25%);
    background: linear-gradient(235deg, #520000, #6e0000, #950000,#d70000,#7f7f7f, #5c5c5c, #2f2f2f, #000000);
    background-size: 400% 400%;
    animation: lineargradientAnimation 10s ease infinite;
    transition: transform .6s cubic-bezier(0.4, 0.0, 0.2, 1);
    backface-visibility: hidden; 
}
@keyframes lineargradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}



.board{
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 20px;
 }
.board-container.flipped .board{
    transform: rotateY(180deg) rotateZ(50deg);
}
.board-container.flipped .win{
    transform: rotateY(0) rotateZ(0);
}
.card{
    position: relative;
    width: 100px;
    height: 100px;
    cursor: pointer;
}
.card-front, .card-back{
   position: absolute;
   border-radius: 5px;
   width: 100%;
   height: 100%;
   background: #282a3a;
   transition: transform .6s cubic-bezier(0.4, 0.0, 0.2, 1);
   backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-back{
    transform: rotateY(180deg) rotateZ(50deg);
    font-size: 35pt;
    user-select: none;
}
.card.flipped .card-front{
    transform: rotateY(180deg) rotateZ(50deg);
}
.card.flipped .card-back{
    transform: rotateY(0) rotateZ(0);
}
.win{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background: #fdf8e6;
    transform: rotateY(180deg) rotateZ(50deg);;
}
.highlight{
    color: #b20404;
}

.card.matched .card-back{
    background: green;
}